/* Generic ********************************************************************/
.frankenpaxos-node {
  border: 1pt solid black;
}

.frankenpaxos-box {
  padding: 12pt;
}

.frankenpaxos-box-title {
  margin-bottom: 6pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
}

.frankenpaxos-hr {
  background: #bdc3c7;
  border: 0pt;
  height: 1px;
  margin-bottom: 0pt;
  margin-top: 0pt;
  width: 95%;
}

.frankenpaxos-button {}

/* Logs ***********************************************************************/
.frankenpaxos-log {
  border: 1pt solid black;
  font-family: monospace;
  font-size: smaller;
  height: 150px;
  overflow: scroll; /* Enable vertical scrolling. */
  padding: 2pt;
  white-space: nowrap; /* Enable horizontal scrolling. */
}
.frankenpaxos-log-entry {}
.frankenpaxos-log-FATAL { background: black; color: white; }
.frankenpaxos-log-ERROR { color: #c0392b; }
.frankenpaxos-log-WARN { color: #e67e22; }
.frankenpaxos-log-INFO { color: #27ae60; }
.frankenpaxos-log-DEBUG { color: #2c3e50; }

/* Timers *********************************************************************/
.frankenpaxos-timers {}
.frankenpaxos-timers-trigger {}
.frankenpaxos-timers-name {}

/* Messages *******************************************************************/
.frankenpaxos-messages {}
.frankenpaxos-messages-message {
  border: 1pt solid black;
  margin-bottom: 4pt;
  padding: 4pt;
}
.frankenpaxos-messages-deliver {}
.frankenpaxos-messages-drop {}
.frankenpaxos-messages-duplicate {}
.frankenpaxos-messages-src {}
.frankenpaxos-messages-dst {}
.frankenpaxos-messages-text {}

/* Maps ***********************************************************************/
.frankenpaxos-map {
  border-collapse: collapse;
}

.frankenpaxos-map td {
  border: 1pt solid black;
  padding: 4pt;
}

/* Seqs ***********************************************************************/
.frankenpaxos-seq {
  border-collapse: collapse;
}

.frankenpaxos-seq td {
  border: 1pt solid black;
  padding: 4pt;
}

/* Unit test ******************************************************************/
.frankenpaxos-unittest {
  border: 1pt solid black;
  font-family: monospace;
  font-size: smaller;
  height: 150px;
  overflow: scroll; /* Enable vertical scrolling. */
  padding: 2pt;
  white-space: nowrap; /* Enable horizontal scrolling. */
}
