/* Generic ********************************************************************/
.zeno-node {
  border: 1pt solid black;
}

.zeno-box {
  padding: 12pt;
}

.zeno-box-title {
  margin-bottom: 6pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
}

.zeno-hr {
  background: #bdc3c7;
  border: 0pt;
  height: 1px;
  margin-bottom: 0pt;
  margin-top: 0pt;
  width: 95%;
}

.zeno-button {}

/* Logs ***********************************************************************/
.zeno-log {
  border: 1pt solid black;
  font-family: monospace;
  font-size: smaller;
  height: 150px;
  overflow: scroll; /* Enable vertical scrolling. */
  padding: 2pt;
  white-space: nowrap; /* Enable horizontal scrolling. */
}
.zeno-log-entry {}
.zeno-log-FATAL { background: black; color: white; }
.zeno-log-ERROR { color: #c0392b; }
.zeno-log-WARN { color: #e67e22; }
.zeno-log-INFO { color: #27ae60; }
.zeno-log-DEBUG { color: #2c3e50; }

/* Timers *********************************************************************/
.zeno-timers {}
.zeno-timers-trigger {}
.zeno-timers-name {}

/* Messages *******************************************************************/
.zeno-messages {}
.zeno-messages-message {
  border: 1pt solid black;
  margin-bottom: 4pt;
  padding: 4pt;
}
.zeno-messages-deliver {}
.zeno-messages-drop {}
.zeno-messages-duplicate {}
.zeno-messages-src {}
.zeno-messages-dst {}
.zeno-messages-text {}
