<!DOCTYPE html>
<html>
<head>
  <title>Leader Election</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link href="../frankenpaxos.css" rel="stylesheet">
  <style type="text/css">
    html {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    #container {
      font-size: 18px;
      background: #FEFEFE;
      padding-left: 1em;
      padding-right: 1em;
      max-width: 44em;
      line-height: 27px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .app {
      margin-top: 16pt;
      margin-bottom: 16pt;
    }

    .animation {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      max-height: 300px;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Leader Election</h1>

    <svg id="tweened_animation" class="animation" viewBox="0 0 400 300"></svg>

    <div id="tweened_app">
      <frankenpaxos-tweened-app
        :transport="transport"
        :time_scale="time_scale"
        :auto_deliver_messages="auto_deliver_messages"
        :auto_start_timers="auto_start_timers"
        :send_message="send_message">
      <template v-slot:default="slotProps">
        <div class="frankenpaxos-box">
          <div>
            Time scale:
            <input type="range" v-model="time_scale" min="0" max="2" step=0.1>
            {{time_scale}}x
          </div>
          <div>
            Automatically deliver messages:
            <input type="checkbox" v-model="auto_deliver_messages">
          </div>
          <div>
            Automatically start timers:
            <input type="checkbox" v-model="auto_start_timers">
          </div>
        </div>

        <div class="frankenpaxos-node">
          <h2>{{node.actor.address.address}}</h2>

          <div class="frankenpaxos-box">
            <frankenpaxos-partition :transport=transport
                                    :address=node.actor.address
                                    v-on:partition=partition>
            partition
            </frankenpaxos-partition>
            <frankenpaxos-unpartition :transport=transport
                                    :address=node.actor.address
                                    v-on:unpartition=unpartition>
            unpartition
            </frankenpaxos-unpartition>
          </div>

          <div class="frankenpaxos-box">
            <h3 class="frankenpaxos-box-title">Data</h3>
            <div><strong>round</strong>: {{node.actor.round}}</div>
            <div><strong>state</strong>: {{node.actor.state.toString()}}</div>
          </div>

          <div class="frankenpaxos-box">
            <h3 class="frankenpaxos-box-title">Timers</h3>
            <div v-for="timer in slotProps.timer_tweens[node.actor.address]">
              <frankenpaxos-timer :timer="timer"></frankenpaxos-timer>
            </div>
          </div>

          <div class="frankenpaxos-box">
            <h3 class="frankenpaxos-box-title">Messages</h3>
            <frankenpaxos-staged-messages
              :transport="transport"
              :actor="node.actor"
              :messages="JsUtils.seqToJs(
                transport.stagedMessagesForAddress(node.actor.address))">
            </frankenpaxos-staged-messages>
          </div>

          <div class="frankenpaxos-box">
            <h3 class="frankenpaxos-box-title">Log</h3>
            <frankenpaxos-log :log="JsUtils.seqToJs(node.actor.logger.log)">
            </frankenpaxos-log>
          </div>
        </div>

        <div class="frankenpaxos-box">
          <h3 class="frankenpaxos-box-title">Unit Test</h3>
          <frankenpaxos-unittest :transport="transport">
          </frankenpaxos-unittest>
        </div>
      </template>
    </frankenpaxos-tweened-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/plugins/AttrPlugin.min.js"></script>
  <script type="text/javascript" src="../../../../target/scala-2.12/frankenpaxos-fastopt.js"></script>
  <script type="text/javascript" src="../frankenpaxos.js"></script>
  <script type="text/javascript" src="../election/election.js"></script>
</body>
</html>
